<!DOCTYPE html>
<html lang="pt-BR" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="profile" href="http://gmpg.org/xfn/11">
	<link rel="pingback" href="http://vamosdego.com/xmlrpc.php">
	<title>Vamos de Go &#8211; A nova era do transporte coletivo</title>
			
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');
                    fbq('init', '324325511391491' );
            
    fbq('track', 'PageView');
    
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=324325511391491&ev=PageView&noscript=1"
    /></noscript>

			
	<link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel="alternate" type="application/rss+xml" title="Feed para Vamos de Go &raquo;" href="http://vamosdego.com/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Feed de comentários para Vamos de Go &raquo;" href="http://vamosdego.com/comments/feed/" />
    
    <script type="text/javascript">
        window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/vamosdego.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.8.5"}};
        !function(a,b,c){function d(a){var b,c,d,e,f=String.fromCharCode;if(!k||!k.fillText)return!1;switch(k.clearRect(0,0,j.width,j.height),k.textBaseline="top",k.font="600 32px Arial",a){case"flag":return k.fillText(f(55356,56826,55356,56819),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,56826,8203,55356,56819),0,0),c=j.toDataURL(),b!==c&&(k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447),0,0),c=j.toDataURL(),b!==c);case"emoji4":return k.fillText(f(55358,56794,8205,9794,65039),0,0),d=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55358,56794,8203,9794,65039),0,0),e=j.toDataURL(),d!==e}return!1}function e(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i,j=b.createElement("canvas"),k=j.getContext&&j.getContext("2d");for(i=Array("flag","emoji4"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>

	<style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }

        .status {
            background-image: url('http://vamosdego.com/wp-content/themes/llorix-one-lite/images/loader-red.gif');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    </style>

    <link rel="stylesheet" href="{{ asset('bundles/css/style.css') }}" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Cabin%3A400%2C600%7COpen+Sans%3A400%2C300%2C600&#038;ver=4.8.5" />
    <link rel="stylesheet" href="{{ asset('bundles/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/css/clarina/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/css/llorix-one-lite/style.css') }}" />

    <style id='llorix-one-lite-style-inline-css' type='text/css'>
        .header{ background-image: url({{ asset('bundles/img/cropped-site.png') }});}.overlay-layer-wrap{ background:rgba(13,60,85,0);}.archive-top .section-overlay-layer{ background:rgba(13,60,85,0.0);}
    </style>

    <link rel="stylesheet" href="{{ asset('bundles/css/llorix-one-lite/style.css') }}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web%3A400%2C400i%2C600%2C700%7CAssistant%3A700%2C400%2C800&#038;subset=latin%2Clatin-ext" />
    <link rel="stylesheet" href="{{ asset('bundles/css/llorix-one-lite/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/css/clarina/style2.css') }}" />

    <style id='clarina-inline-style-inline-css' type='text/css'>
        .single-service h3 { color: #1e3046!important; }.home-add-to-cart-wrap a { background-color: #28b7b1!important; }
    </style>
    <script type='text/javascript' src='{{ asset('bundles/js/jquery.js') }}'></script>
    <script type='text/javascript' src='{{ asset('bundles/js/jquery-migrate.js') }}'></script>

    <script type="text/javascript"> 
    (function(d,s,id){var z=d.createElement(s);z.type="text/javascript";z.id=id;z.async=true;z.src="//static.zotabox.com/b/0/b092ad79e6dfb91c448a79b10d65f1ab/widgets.js";var sz=d.getElementsByTagName(s)[0];sz.parentNode.insertBefore(z,sz)}(document,"script","zb-embed-code"));
    </script>
    
    <!--[if lt IE 9]>
    <script src="http://vamosdego.com/wp-content/themes/llorix-one-lite/js/html5shiv.min.js"></script>
    <![endif]-->
    
    <link rel="icon" href="http://vamosdego.com/wp-content/uploads/2017/10/cropped-favicon-32x32.png" sizes="32x32" />
    <link rel="icon" href="http://vamosdego.com/wp-content/uploads/2017/10/cropped-favicon-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="http://vamosdego.com/wp-content/uploads/2017/10/cropped-favicon-180x180.png" />
    <meta name="msapplication-TileImage" content="http://vamosdego.com/wp-content/uploads/2017/10/cropped-favicon-270x270.png" />

    <!-- START - Facebook Open Graph, Google+ and Twitter Card Tags 2.1.3 -->
    <!-- Facebook Open Graph -->
    <meta property="og:locale" content="pt_BR"/>
    <meta property="og:site_name" content="Vamos de Go"/>
    <meta property="og:title" content="Vamos de Go"/>
    <meta property="og:url" content="http://vamosdego.com"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="A nova era do transporte coletivo."/>
    <meta property="og:image" content="http://vamosdego.com/wp-content/uploads/2017/10/gogogo-2.png"/>

    <!-- Google+ / Schema.org -->
    <meta itemprop="name" content="Vamos de Go"/>
    <meta itemprop="description" content="A nova era do transporte coletivo."/>
    <meta itemprop="image" content="http://vamosdego.com/wp-content/uploads/2017/10/gogogo-2.png"/>

    <!-- Twitter Cards -->
    <meta name="twitter:title" content="Vamos de Go"/>
    <meta name="twitter:url" content="http://vamosdego.com"/>
    <meta name="twitter:description" content="A nova era do transporte coletivo."/>
    <meta name="twitter:image" content="http://vamosdego.com/wp-content/uploads/2017/10/gogogo-2.png"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <!-- SEO -->
    <!-- Misc. tags -->
    <!-- END - Facebook Open Graph, Google+ and Twitter Card Tags 2.1.3 -->
	
</head>

<body itemscope itemtype="http://schema.org/WebPage" class="home page-template-default page page-id-14" dir="ltr">
    <a class="skip-link screen-reader-text" href="#content">Skip to content</a>

    <header itemscope itemtype="http://schema.org/WPHeader" id="masthead" role="banner" data-stellar-background-ratio="0.5" class="header header-style-one site-header">
		<div class="overlay-layer-nav sticky-navigation-open">
		    <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation appear-on-scroll">
			    <div class="container">
				    <div class="navbar-header">
                        <button title='Toggle Menu' aria-controls='menu-main-menu' aria-expanded='false' type="button" class="navbar-toggle menu-toggle" id="menu-toggle" data-toggle="collapse" data-target="#menu-primary">
                            <span class="screen-reader-text">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="header-logo-wrap text-header">
                            <h1 itemprop="headline" id="site-title" class="site-title">
                                <a href="{{ path('home')}}" title="Vamos de Go" rel="home">Vamos de Go</a>
                            </h1>
                            <p itemprop="description" id="site-description" class="site-description">A nova era do transporte coletivo</p>
                        </div>
				    </div>
            
				    <div itemscope itemtype="http://schema.org/SiteNavigationElement" aria-label="Primary Menu" id="menu-primary" class="navbar-collapse collapse">
					    <div id="site-header-menu" class="site-header-menu">
						    <nav id="site-navigation" class="main-navigation" role="navigation">
							    <div class="menu-pagina-inicial-container">
                                    <ul id="menu-pagina-inicial" class="primary-menu small-text">
                                        <li id="menu-item-80" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-14 current_page_item menu-item-80">
                                            <a href="{{ path('home')}}">Início</a>
                                        </li>
                                        <li id="menu-item-108" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-108">
                                            <a href="{{ path('pre-order')}}">Pré-venda Mensalidade</a>
                                        </li>
                                        <li id="menu-item-120" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-120">
                                            <a href="{{ path('regulation')}}">Regulamento pré-venda</a>
                                        </li>
                                        <li id="menu-item-154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-154">
                                            <a href="{{ path('test-now') }}">Experimente Agora</a>
                                        </li>
                                        <li id="menu-item-155" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-155">
                                            <a href="{{ path('partner') }}">Seja Parceiro</a>
                                        </li>
                                    </ul>
                                </div>						
                            </nav>
					    </div>
				    </div>
			    </div>
		    </div>
		
            {# <div class="preloader">
                <div class="status" style="background">&nbsp;
                </div>
            </div> #}

        {%  if app.request.attributes.get('_route') == 'home' %}
            <div class="overlay-layer-wrap">
                <div class="container overlay-layer" id="llorix_one_lite_header">
                    <div class="only-logo">
                        <div id="only-logo-inner" class="navbar">
                            <div id="llorix_one_lite_only_logo" class="navbar-header">
                                <img src="{{ asset('bundles/img/agoravai.png') }}"   alt="">
                            </div>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-md-12 intro-section-text-wrap">
                                <div id="intro-section" class="intro-section">
                                    <h1 id="intro_section_text_1" class="intro white-text">O aperto vai acabar. </h1>
                                    <h5 id="intro_section_text_2" class="white-text">Seguro, confortável e ágil. 
                                        <p> Como tem que ser.</p>
                                    </h5>

                                    <a href="#post-77" class="btn btn-primary standard-button  btn-new-client" style="color: white">
                                        <span class="screen-reader-text"></span>QUERO ME CADASTRAR
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        {% endif %}
    </div>
</header>

{% block content %}
{% endblock %}


<div class="contact-info" id="contactinfo" role="region" aria-label="Contact Info">
	<div class="section-overlay-layer">
		<div class="container">
				<div class="row contact-links">
					<div class="col-sm-4 contact-link-box col-xs-12">
						<div class="icon-container">
							<i class="fa fa-envelope colored-text"></i>
						</div>
					    <a href="#" class="strong">contato@vamosdego.com</a>
					</div>
					<div class="col-sm-4 contact-link-box col-xs-12">
						<div class="icon-container">
							<i class="fa fa-map-marker colored-text"></i>
						</div>
						<a href="#" class="strong">Gonçalves Chaves, 373, Pelotas - RS</a>
					</div>
				</div>
		    </div>
	    </div>
	</div>
</div>

<footer itemscope itemtype="http://schema.org/WPFooter" id="footer" role="contentinfo" class = "footer grey-bg">
	<div class="container">
		<div class="footer-widget-wrap">		
		</div>
		<div class="footer-bottom-wrap">
			<div itemscope role="navigation" itemtype="http://schema.org/SiteNavigationElement" id="menu-secondary" aria-label="Secondary Menu">
                <h1 class="screen-reader-text">Secondary Menu</h1>
                <ul id="menu-pagina-inicial-1" class="footer-links small-text">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-14 current_page_item menu-item-80">
                        <a href="{{ path('home')}}">Início</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-108">
                        <a href="{{ path('pre-order')}}">Pré-venda Mensalidade</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-120">
                        <a href="{{ path('regulation')}}">Regulamento pré-venda</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-154">
                        <a href="{{ path('test-now') }}">Experimente Agora</a>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-155">
                        <a href="{{ path('partner') }}">Seja Parceiro</a>
                    </li>
                </ul>
            </div>		
            <ul class="social-icons">
			</ul>
		</div>   
	</div>
</footer>

	<script type='text/javascript' src='{{ asset('bundles/js/bootstrap.min.js') }}'></script>
    <script type='text/javascript'>
    /* <![CDATA[ */
    var screenReaderText = {"expand":"<span class=\"screen-reader-text\">expand child menu<\/span>","collapse":"<span class=\"screen-reader-text\">collapse child menu<\/span>"};
    /* ]]> */
    </script>

    <script type='text/javascript' src='{{ asset('bundles/js/custom.all.js') }}'></script>
    <script type='text/javascript' src='{{ asset('bundles/js/custom.home.js') }}?ver=1.0.0'></script>
    <script type='text/javascript' src='{{ asset('bundles/js/skip-link-focus-fix.js') }}'></script>
    <script type='text/javascript' src='{{ asset('bundles/js/custom.js') }}'></script>
    <script type='text/javascript' src='{{ asset('bundles/js/vamos-de-go.js') }}'></script>
    <script type='text/javascript'>
    /* <![CDATA[ */
    var fcaPcEvents = [{"triggerType":"post","trigger":["14"],"parameters":{"content_name":"{post_title}","content_type":"product","content_ids":"{post_id}"},"event":"ViewContent","delay":"0","scroll":"0","apiAction":"track","ID":"5d4a31b9-e357-44e2-81ef-210e1fdb04b8"}];
    var fcaPcDebug = {"debug":""};
    var fcaPcPost = {"title":"Vamos de Go","type":"page","id":"14","categories":[],"utm_support":"","user_parameters":"","edd_delay":"0","woo_delay":"0"};
    /* ]]> */
    </script>
    <script type='text/javascript' src='{{ asset('bundles/js/pixel-cat.min.js') }}'></script>
</body>
</html>
