<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Área Administrativa</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    {% block stylesheets %}
        {% stylesheets
        '@AdminBundle/Resources/public/css/skins/_all-skins.min.css'
        '@AdminBundle/Resources/public/css/AdminLTE.min.css'
        '@AdminBundle/Resources/public/css/font-awesome.min.css'
        '@AdminBundle/Resources/public/css/ionicons.css'
        '@AdminBundle/Resources/public/plugins/datatables.net-bs/css/dataTables.bootstrap.min.css'
        '@AdminBundle/Resources/public/plugins/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css'        
        '@AdminBundle/Resources/public/css/possible/fixes.css' %}

        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}

</head>
<body class="hold-transition skin-black sidebar-mini">
<div class="wrapper">

    <header class="main-header">
        <a href="" class="logo">
            <span class="logo-mini"><b>EF</b></span>
            <span class="logo-lg">
                {# {% image '@SiteBundle/Resources/public/images/logo.png' %}
                <img src="{{ asset_url }}" class="possible-main-logo" alt="Eletricista do Futuro"/>
                {% endimage %} #}
                <span>Admin</span>
            </span>
        </a>
        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown notifications-menu"></li>
                    {% if app.user is not null %}
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                {# {% if app.user.avatarName is null %}
                                    {% image '@SiteBundle/Resources/public/images/default-avatar.png' %}
                                    <img src="{{ asset_url }}" class="user-image" alt="User Image"/>
                                    {% endimage %}
                                {% else %}
                                    <img src="{{ vich_uploader_asset(app.user, 'avatarFile') }}" class="user-image" alt="User Image">
                                {% endif %} #}

                                {# <span class="hidden-xs">Olá, {{ app.user.name }}</span> #}
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    {# {% if app.user.avatarName is null %}
                                        {% image '@SiteBundle/Resources/public/images/default-avatar.png' %}
                                        <img src="{{ asset_url }}" alt="User Image" class="img-circle"/>
                                        {% endimage %}
                                    {% else %}
                                        <img src="{{ vich_uploader_asset(app.user, 'avatarFile') }}" class="img-circle" alt="User Image">
                                    {% endif %} #}

                                    <p>
                                        {# {{ app.user.name }}
                                        <small>
                                            Membro desde {{ app.user.created|localizeddate('short', 'none', 'pt_BR') }}
                                        </small> #}
                                    </p>
                                </li>
                                <li class="user-body">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            {# <a href="{{ path('possible_admin_users_change_password', {'id': app.user.id}) }}" class="btn btn-default btn-flat">
                                                Senha
                                            </a> #}
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            {# {% if user_management.isAdmin(app.user) %} #}
                                                {# <a href="{{ path('possible_admin_administrators_edit', {'id': app.user.id}) }}" class="btn btn-default btn-flat">
                                                    Editar
                                                </a> #}
                                            {# {% else %} #}
                                                {# <a href="{{ path('possible_admin_editors_edit', {'id': app.user.id}) }}" class="btn btn-default btn-flat">
                                                    Editar
                                                </a> #}
                                            {# {% endif %} #}
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            {# <a href="{{ path('possible_fos_user_security_logout') }}" class="btn btn-default btn-flat">
                                                Sair
                                            </a> #}
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </li>
                                <!-- Menu Footer-->
                            </ul>
                        </li>
                    {% endif %}
                    <li>
                        {# <a href="{{ path('possible_fos_user_security_logout') }}">
                            <i class="fa fa-sign-out" aria-hidden="true"></i> Sair
                        </a> #}
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu tree" data-widget="tree">

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-tasks"></i><span>Bairros</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="{{ path('go_admin_neighborhood_index') }}">
                                <i class="fa fa-circle-o"></i>Listar bairros
                            </a>
                        </li>
                        <li><a href="{{ path('go_admin_neighborhood_new') }}">
                                <i class="fa fa-circle-o"></i>Cadastrar bairro
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-tasks"></i><span>Pontos</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="{{ path('go_admin_point_index') }}">
                                <i class="fa fa-circle-o"></i>Listar pontos
                            </a>
                        </li>
                        <li><a href="{{ path('go_admin_point_new') }}">
                                <i class="fa fa-circle-o"></i>Cadastrar ponto
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-tasks"></i><span>Rotas</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="{{ path('go_admin_way_index') }}">
                                <i class="fa fa-circle-o"></i>Listar rotas
                            </a>
                        </li>
                        <li><a href="{{ path('go_admin_way_new') }}">
                                <i class="fa fa-circle-o"></i>Cadastrar rota
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-tasks"></i><span>Newsletter</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="{{ path('go_admin_newsletter_index') }}">
                                <i class="fa fa-circle-o"></i>Listar newsletter
                            </a>
                        </li>
                        <li><a href="{{ path('go_admin_newsletter_new') }}">
                                <i class="fa fa-circle-o"></i>Cadastrar newsletter
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-tasks"></i><span>Administradores</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="{{ path('go_admin_admin_index') }}">
                                <i class="fa fa-circle-o"></i>Listar administradores
                            </a>
                        </li>
                        <li><a href="{{ path('go_admin_admin_new') }}">
                                <i class="fa fa-circle-o"></i>Cadastrar administrador
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-tasks"></i><span>Motoristas</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="{{ path('go_admin_driver_index') }}">
                                <i class="fa fa-circle-o"></i>Listar motoristas
                            </a>
                        </li>
                        <li><a href="{{ path('go_admin_driver_new') }}">
                                <i class="fa fa-circle-o"></i>Cadastrar motorista
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-tasks"></i><span>Clientes</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="{{ path('go_admin_client_index') }}">
                                <i class="fa fa-circle-o"></i>Listar clientes
                            </a>
                        </li>
                        <li><a href="{{ path('go_admin_client_new') }}">
                                <i class="fa fa-circle-o"></i>Cadastrar cliente
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </section>
    </aside>

    <div class="content-wrapper">
        <section class="content">
            {# {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i> {{ message }}</h4>
                    </div>
                {% endfor %}
            {% endfor %} #}

            

            {% block body %}

                {% block content %}
                {% endblock %}

            {% endblock %} 
        </section>
    </div>

    <footer class="main-footer">
        <strong>
        </strong>
    </footer>

</div>

<script>
    var CKEDITOR_BASEPATH = '/assets/ckeditor/';
</script>

{% block javascripts %}
    {% javascripts
    '@AdminBundle/Resources/public/plugins/jquery/jquery.js'
    '@AdminBundle/Resources/public/js/fastclick.js'
    '@AdminBundle/Resources/public/js/adminlte.min.js'
    '@AdminBundle/Resources/public/plugins/datatables.net/js/jquery.dataTables.min.js'
    '@AdminBundle/Resources/public/plugins/datatables.net-bs/js/dataTables.bootstrap.min.js'
    '@AdminBundle/Resources/public/js/possible/maskphone.js'
    '@AdminBundle/Resources/public/js/possible/get-cities-select.js'
    '@AdminBundle/Resources/public/js/bootstrap.min.js'
    '@AdminBundle/Resources/public/js/possible/datatables.js'  %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}


{% endblock %}

</body>
</html>
