{% extends '@AdminBundle/Resources/views/base.html.twig' %}
{% block content %}

    <section class="content-header">
        <h1>
            Bairros cadastrados
        </h1>
    </section>

    <section class="content">
        <div class="box-body">
            <div class="media-body">
                <div class="clearfix">
                    <p class="pull-left">
                        <a href="{{ path('go_admin_neighborhood_new') }}" class="btn btn-success btn-sm">
                            Cadastrar bairro
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <div class="box box-primary">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Bairros cadastrados</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <table role="grid" class="table table-bordered table-striped dataTable" id="dtable">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>Ações</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for neighborhood in neighborhoods %}
                                    <tr>
                                        <td>{{ neighborhood.id }}</td>
                                        <td>{{ neighborhood.name }}</td>
                                        <td>
                                            <a href="{{ path('go_admin_neighborhood_edit', {'id': neighborhood.id}) }}"
                                                class="btn btn-info btn-flat" title="Editar">
                                                <i class="fa fa-edit fa-lg"></i>
                                            </a>

                                            <a onclick="return confirm('Tem certeza que deseja apagar o bairro {{neighborhood.name}}');" href="{{ path('go_admin_neighborhood_delete', {'id': neighborhood.id}) }}"
                                                class="btn btn-danger btn-flat confirm-delete" title="Apagar">
                                                <i class="fa fa-trash-o fa-lg"></i>
                                            </a>

                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# <script>
        jQuery(document).ready(function(){
           
                jQuery('.confirm-delete').click(function() {
                   alert('teste');
                });
            
        });
    </script> #}
{% endblock %}